body {
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 15px 15px 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo p{
    font-size: 2rem;
    font-weight: bold;
}

.nav__button {
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav__button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.nav__button p {
    font-weight: bold;
}